altgraph==0.17
asgiref==3.3.4
auto-py-to-exe==2.8.0
beautifulsoup4==4.9.3
blinker==1.4
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.10
cx-Freeze==6.6
cx-Logging==3.0
Django==3.2
docopt==0.6.2
Eel==0.12.4
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
flask-sqla-debug==0.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
Jinja2Loader==0.1.0
Js2Py==0.71
kakeibox-database-sqlite3==0.0.5
MarkupSafe==2.0.1
mysqlclient @ file:///C:/Users/Asus/Downloads/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
numpy==1.21.1
openpyxl==3.0.7
packaging==20.9
pefile==2019.4.18
pip-upgrade==0.0.6
pipwin==0.5.1
playsound==1.2.2
protobuf==3.16.0
pycparser==2.20
pygame==2.0.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pyjsparser==2.7.1
PyMySQL==1.0.2
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.3
pySmartDL==1.3.4
pytimeparse==1.1.8
pyttsx3==2.90
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.14
sqlparse==0.4.1
tabulate==0.8.9
tqdm==4.60.0
tzlocal==2.1
urllib3==1.26.4
vboxapi==1.0
Werkzeug==2.0.1
whichcraft==0.6.1
wikipedia==1.4.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
